---
layout: default
---

<main class="bg-purple header" role="main">
  <header class="container-lg p-responsive">
    {% include header.html %}
    <div class="pb-6 d-flex flex-items-center flex-justify-center flex-column">
      <div class="umbrella-wrapper mb-2">
        {% include umbrella.svg %}
      </div>
      {% include GitHub.svg %}
      <code class="h1 text-white">Field Day</code>
    </div>
  </header>
  {% include squiggle-white.svg %}
</main>

<div class="container-md p-responsive py-6 d-flex flex-items-center flex-justify-center flex-column mb-2">
  <h2 class="alt-h2 lh-condensed my-3 text-center">An unconference for leaders of technical student communities</h2>
  <p class="py-2 text-center"><strong>Spring 2018</strong> at Galvanize in Boulder, Colorado</p>
  <span class="btn btn-outline btn-outline-purple mt-3 disabled">Registration opens soon! 🌂</span>
  <h3 class="alt-h3 py-2 text-center mt-4">Join the mailing list to find out when registration opens.</h3>
  <a href="#hi-Joe" class="btn btn-outline-purple">Sign up to the mailing list</a>
</div>

<div class="container-md mb-6 p-responsive text-center py-6 d-flex flex-items-center flex-justify-center flex-column">
  <h2 class="alt-h2 lh-condensed mb-3 text-center">A day of discussions</h2>
  <p class="alt-h3 mb-3 text-center">Field Day brings together a group of student leaders for a day of conversation in the form of lightning talks, discussions, games, or whatever suits the topic best.</p>
</div>

<div class="container-lg mx-auto mb-6 p-responsive py-6 gutter d-block d-sm-flex flex-wrap flex-items-center">
  <div class="col-6 mx-auto mx-sm-0 mb-4 mb-sm-0 col-sm-5">
    <div class="keynote-img">
      <img class="border-radius" src="{{ site.baseurl }}/assets/jj.jpg" alt="Justin Johnson">
    </div>
  </div>
  <div class="col-12 col-sm-7 text-center text-sm-left">
    <h4 class="alt-h4">Keynote</h2>
    <h2 class="alt-h2 lh-condensed mb-3">Building Community is Investing in the&nbsp;Future</h2>
    <p>Justin Johnson is a community builder and product manager at Keen IO. He is an active open source software community organizer and has over 10 years of experience working with startups as a founder, employee, investor, and advisor. He doesn't have any pets and you can find him online as <a class="text-purple" target="_blank" href="https://twitter.com/elof">@elof</a> on all the&nbsp;things.</p>
  </div>
</div>

<div class="container-md p-responsive py-6" id="schedule">
  <h1 class="text-center">Schedule</h1>

  <table class="data-table">
    <tbody>
      <tr><td><time>08:00</time></td><td>Registration Opens & Light Breakfast</td></tr>
      <tr><td><time>09:00</time></td><td>Welcome to Field Day</td></tr>
      <tr><td><time>09:30</time></td><td>Keynote: To Be Announced</td></tr>
      <tr><td><time>10:15</time></td><td>Icebreaker to get to know each other</td></tr>
      <tr><td><time>11:00</time></td><td>Breakout Discussions I</td></tr>
      <tr><td><time>11:30</time></td><td>Breakout Discussions II</td></tr>
      <tr><td><time>12:00</time></td><td>Lunch</td></tr>
      <tr><td><time>14:15</time></td><td>Breakout Discussions III</td></tr>
      <tr><td><time>14:45</time></td><td>Breakout Discussions IV</td></tr>
      <tr><td><time>15:30</time></td><td>Campus Expert Fireside Chat</td></tr>
      <tr><td><time>16:30</time></td><td>Breakout Discussions V</td></tr>
      <tr><td><time>17:00</time></td><td>Breakout Discussions VI</td></tr>
      <tr><td><time>17:35</time></td><td>Feedback Round</td></tr>
      <tr><td><time>18:00</time></td><td>Closing Remarks</td></tr>
      <tr><td><time>18:45</time></td><td>Dinner</td></tr>
    </tbody>
  </table>
</div>

<div class="container-lg mb-6 p-responsive py-6 d-flex flex-items-center flex-sm-justify-between flex-justify-center text-center text-sm-left" id="venue">
  <address class="addr mono">
    <h2 class="alt-h2 lh-condensed mb-2">Galvanize Boulder</h3>
    1023 Walnut Street</br>
    Boulder, CO 80020
  </address>
  <div class="map-container">
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12222.549886742754!2d-105.281686!3d40.0165447!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xda567bbef95b7d77!2sGalvanize+Boulder+-+Walnut+Street!5e0!3m2!1sen!2sus!4v1508659868300" allowfullscreen>
      </iframe>
  </div>
</div>

<div class="py-6 p-responsive mt-2 bg-gray-light" id="faq">
  <div class="container-md">
    <h3 class="text-center">FAQ</h3>

    {% for faq in site.faqs %}
      <div class="py-3" id="{{ faq.q | slugify }}">
        <h4 class="mb-1"><a href="#{{ faq.q | slugify }}" class="text-purple">{{faq.q}}</a></h4>
        <p>{{ faq.a }}</p>
      </div>
    {% endfor %}

  </div>
</div>
